footer{
    min-height: 300px;
    border-top: 1px solid var(--main-border-color);
    font-family: var(--font-titles);
}

.footer-support{
    display: flex;
    justify-content: space-evenly;
    min-height: 150px;
    margin-top: 3rem;
}

.footer-support-timesconteiner{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.footer-support-times{  
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    p{
        font-family: var(--font-details);
        font-size: 18px;
    }
    span{
        display: flex;
        flex-direction: column;
        font-family: var(--font-txt);
        font-size: 10px;
    }
}


.footer-map{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    span{
        display: flex;
        justify-content: center;

    }
    iframe{
        border-radius: 1rem;
        margin: 1.5rem 0;
        width: 400px;
        height: 250px;
        transition: .5s;
        &:hover{
            width: 600px;
            height: 450px;
        }
    }
}

.footer-info{
    display: flex;
    justify-content: space-evenly;
    min-height: 150px;
    color: black !important;
    margin-top: 2rem;
    div{
        p{
            font-family: var(--font-details);
            font-size: 18px;
        }
        ul{
            margin-top: 10px;
            li{
                font-family: var(--font-txt);
                font-size: 12px;
                list-style: none;
                text-transform: uppercase;
                padding: 3px 0;
                &:nth-child(1):hover{
                    a svg{
                        fill: #1bd741 !important;
                    }

                }
                a{
                    display: inline-flex;
                    position: relative;
                    svg{
                        align-self: center;
                        transition: .4s;
                    }
                }
            }
        }
    }
}


.cls-1{
    fill:#313232;
}
.cls-2{
    fill: #9cc23b;
}

.footer-copyright{
    min-height: 20px;
    width: 100%;
    font-family: var(--font-details);
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    span{
        display: flex;
        font-size: 10px;
        color: gray;
        justify-content: center;
        align-self: center;
        margin-left: 10px;
    }
    img{
        padding: 0 10px;
        width: 85px;
        height: 30px;
        filter: grayscale(100%);
        transition: .2s;
        &:hover{
            filter: grayscale(0%);
        }
    }
    svg{
        padding: 0 10px;
        width: 50px;
        height: 30px;
        filter: grayscale(100%);
        transition: .2s;
        &:hover{
            filter: grayscale(0%);
        }
    }
}

