*{
    margin: 0;
    padding: 0;
}

:root{
    --main-border-color:#8e8a8a;
    --font-titles: Trajan-pro, sans-serif;
    --font-details: Courier Prime, sans-serif;
    --font-txt: Noto sans, sans-serif;
    --light-gray: #f8f8f8;
}

body{
    font-family: Noto Sans, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-border-color);
    position: fixed;
    top: 0;
    width: 100%;
    transition: 1s;
    background-color: white;
    z-index: 5;
    max-height: 92px;
    position: relative;
}

.noScroll{
    overflow: hidden;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

div .flex-column{
    margin-right: 10px;
}

.underline-center{
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: black;
        left: 0;
        bottom: 0;
        transform: scale(0, 1);
        transition: transform .4s ease;
    }
    &:hover::after{
        transform: scale(1, 1);
    }
}

#navbarRight{
    padding: 5px;
}

.navbar-left, .navbar-right{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-family: Courier Prime, sans-serif;
    font-size: .8rem;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    li{
        display: flex;
        padding: 10px;
        a{
            position: relative;
        }
    }
}

.navbar-left{
    li a{
        cursor: pointer;
    }
}

.slide-products{
    display: none;
    border-bottom: 1px solid var(--main-border-color);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
    background-color: var(--light-gray);
    right: 0;
    left: 0;
}

.type-products{
    list-style: none;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-details);
    div{
        margin: 0 3rem;
        p{
            padding: 3px;
            font-weight: 600;
        }
        li{
            padding: 3px;
            // position: relative;
            a{
                position: relative;
                display: inline-flex;
            }
        }
    }
}

.btn-carrito{
    border: none;
    background: transparent;
}

.modalCarrito{
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    position: fixed;
    right: -1000px;
    margin: 2rem;
    padding: 30px;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    min-width: 250px;
    font-family: var(--font-titles);
    z-index: 11;
    bottom: 0;
    top: 0;
    width: 100vw;
    max-width: 50%;
    padding-bottom: 0;
}

.item-total-price{
    margin-right: 1rem;
}

.carrito{
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.conteiner-carrito{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.conteiner-carrito-total{
    position: relative;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    background-color: var(--light-gray);
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin: 0 -1.8rem;
    padding: 50px 50px;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.btn-cerrar-carrito{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#btn-vaciar{
    border: none;
    background: transparent;
    text-decoration-line: underline;
    font-family: var(--font-details);
    cursor: pointer;
}

.overlay{
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}

#carrito{
    list-style: none;
    margin: 1.5rem 0;
}

#carrito-modal{
    cursor: pointer;
}

#total{
    margin-left: 10px;
}

.is-visible{
    opacity: 1;
    pointer-events: auto;
}

.carrito-img{
    width: 100%;
}

.carrito-details{
    font-family: var(--font-details);
    width: 80%;
    color: #666;
    p:nth-child(1){
        color: black;
    }
    p{
        padding: 5px 0;
    }
}

.itemCarrito{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid var(--light-gray);
}

.borrar-itemCarrito{
    margin-top: auto;
    border: none;
    background: none;
    text-decoration-line: underline;
    font-family: var(--font-details);
    cursor: pointer;
}

.counter-conteiner{
    span{
        font-family: var(--font-details);
        user-select: none;
        position: absolute;
        background: #50ce50;
        width: 1.2rem;
        height: 1.2rem;
        font-size: .8rem;
        border-radius: 50%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1.2rem;
        right: .5rem;
        color: white;
        // &:not(.animated-counter){
        //     display: none;
        // }
    }
}

.navbar-search-box{
    // transform: translate(-50%, -50%);
    height: 20px;
    border-radius: 40px;
    border: 1px solid var(--main-border-color);
    margin: 10px;
    width: 100px;
}

.navbar-search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--main-border-color);
    font-size: 12px;
    transition: .4s;
    line-height: 40px;
    width: 100%;
    font-family: var(--font-txt);
    &:focus{
        color: black;
    }
}

.conteiner-articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8rem;
    font-family: Noto sans, sans-serif;
    font-weight: 400;
    img{
        width: 100%;
        margin: auto;
    }
}

.card{
    font-family: var(--font-titles);
    width: 20%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .4s;
    &:hover{
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    }
}

.card-link-img{
    display: flex;
    height: 100%;
    background-color: var(--light-gray);
}

.sub-card{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.card-titulo{
    text-align: left;
    width: 100%;
    display: block;
}

.card-price{
    display: flex;
    color: #666;
}

.card-price-monto{
    font-size: 1rem;
    width: 100%;
    text-align: left;
    padding: 10px 0;
}

.card-price-conIVA{
    font-size: .7rem;
    align-self: center;
}

.card-stock{
    font-size: .7rem;
}

.card-button{
    // display: flex;
    // justify-content: center;
    // background-color: black;
    // color: white;
    // font-family: var(--font-details);
    // padding: 6px 0;
    // border: 1px solid black;
    // border-radius: .75rem;
    // cursor: pointer;
    // width: 100%;
    // transition: .4s;
    // &:hover{
    //     color: black;
    //     background-color: white;
    // }
    position: relative;
    height: 2rem;
    width: 100%;
    border-radius: 50px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: var(--font-details);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    overflow: hidden;
    transition: .4s;
    &:hover{
        background: white;
        svg path{
            fill: black;
        }
        p{
            color: black;
            &::before{
                background-color: black;
            }
            &::after{
                background-color: black;
            }
        }
    }
}

#cart{
    fill: white;
    height: 20px;
    margin-left: -20px;
}


.button-carrito-txt{
    position: relative;
    color: white;
    font-family: var(--font-details);
    margin-left: 15px;
    text-transform: uppercase;
    &::before{
        position: absolute;
        content: '';
        height: 2px;
        width: 10px;
        background-color: white;
        top: 5px;
        left : -52px;
    }
    &::after{
        position: absolute;
        content: '';
        height: 2px;
        width: 10px;
        background-color: white;
        top: 5px;
        left : -52px;
        transform: rotate(90deg);
    }
}