@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --main-border-color:#8e8a8a;
  --font-titles: Trajan-pro, sans-serif;
  --font-details: Courier Prime, sans-serif;
  --font-txt: Noto sans, sans-serif;
}

body {
  font-family: Noto Sans, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--main-border-color);
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
}

nav div img {
  width: 200px;
}

.underline-center::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.underline-center:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navbar-left, .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Courier Prime, sans-serif;
  font-size: .8rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-left li, .navbar-right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.navbar-left li a, .navbar-right li a {
  position: relative;
}

.navbar-search-box {
  height: 20px;
  border-radius: 40px;
  border: 1px solid var(--main-border-color);
  margin: 10px;
}

.navbar-search-box:hover > .navbar-search-txt {
  width: 240px;
  padding: 0 6px;
}

.navbar-search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: var(--main-border-color);
  font-size: 16px;
  -webkit-transition: .4s;
  transition: .4s;
  line-height: 40px;
  width: 0px;
}

.conteiner-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 8rem;
  font-family: Noto sans, sans-serif;
  font-weight: 400;
}

.conteiner-articles img {
  width: 100%;
  margin: auto;
}

.card {
  font-family: var(--font-titles);
  width: 20%;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: .75rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .4s;
  transition: .4s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.card-link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.sub-card {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card-titulo {
  text-align: center;
  width: 100%;
  display: block;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-price-monto {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.card-price-conIVA {
  font-size: .7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-stock {
  font-size: .7rem;
}

.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: white;
  font-family: var(--font-details);
  padding: 6px 0;
  border: 1px solid black;
  border-radius: .75rem;
  cursor: pointer;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.card-button:hover {
  color: black;
  background-color: white;
}

@font-face {
  font-family: Trajan-pro;
  src: url(../fonts/trajan-pro.otf);
}

footer {
  min-height: 300px;
  border-top: 1px solid var(--main-border-color);
  font-family: var(--font-titles);
}

.footer-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 150px;
  margin-top: 3rem;
}

.footer-support-timesconteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.footer-support-times {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}

.footer-support-times p {
  font-family: var(--font-details);
  font-size: 18px;
}

.footer-support-times span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-txt);
  font-size: 10px;
}

.footer-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-map span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-map iframe {
  border-radius: 1rem;
  margin: 1.5rem 0;
  width: 400px;
  height: 250px;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-map iframe:hover {
  width: 600px;
  height: 450px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 150px;
  color: black !important;
  margin-top: 2rem;
}

.footer-info div p {
  font-family: var(--font-details);
  font-size: 18px;
}

.footer-info div ul {
  margin-top: 10px;
}

.footer-info div ul li {
  font-family: var(--font-txt);
  font-size: 12px;
  list-style: none;
  text-transform: uppercase;
  padding: 3px 0;
}

.footer-info div ul li:nth-child(1):hover a svg {
  fill: #1bd741 !important;
}

.footer-info div ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.footer-info div ul li a svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer-copyright {
  min-height: 20px;
  width: 100%;
  font-family: var(--font-details);
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyright span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: gray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 10px;
}

.footer-copyright img {
  padding: 0 10px;
  width: 85px;
  height: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-copyright img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.footer-copyright svg {
  padding: 0 10px;
  width: 50px;
  height: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-copyright svg:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
/*# sourceMappingURL=main.css.map */